<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2>Products</h2>
        <div class="row">
            {% for product_id, product in products.items() %}
            <div class="col-md-4">
                <h3>{{ product.name }}</h3>
                <p>$ {{ product.price }}</p>
                <a href="/add_to_cart/{{ product_id }}" class="btn btn-primary">Add to Cart</a>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
